.navbar {
  background: #F6C452;
  padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  display: flex;
  font-size: 1.5rem;
  color: #2D2F2E;
}
.links {
  color: #2D2F2E;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}
.links a { text-decoration: none; color: #4A3F35; }
.links li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.links li + li {
  padding-left: 1rem;
}


.links li + li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;        
  height: 1em;       
  background-image: url('/images/nav-line.png');
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 640px) {
  .navbar { flex-direction: row; justify-content: space-between; }
  .links { flex-direction: row; margin-top: 1rem; width: auto; gap: 1rem; }
}