.footer {
  background: #E3C969;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
  gap: 2rem;
}

@media (min-width: 900px) {
  .footer {
    flex-direction: row;
    justify-content: center; /* center the two blocks */
    gap: 20rem;               /* space between them */
    align-items: baseline;
  }
}

@media (max-width: 899px) {
  .footer {
    padding: 1.5rem 0.5rem; /* Adjust padding for smaller screens */
  }
  .socials {
  display: flex;
  position: relative;
  left: 0;;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
}

/* Shared wrapper for each half of the footer */
.socialBlock,
.contactBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section titles */
.title {
  font-size: clamp(2rem, 2.5vw, 1.25rem);
  font-family: Rubik, sans-serif;
  font-weight: bold;
  margin-top: 4rem;
  color: #4A3F35;
  text-transform: uppercase;
}

/* Social buttons list */
.socials {
  display: flex;
  position: relative;
  right: 13rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

/* Individual social button */
.socialButton {
  color: #5B413A;
  font-family: Rubik, sans-serif;
  font-style: bold;
  font-size: clamp(1rem,0vw, 1.25rem);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0rem 0;
  line-height: 1;
}

/* Ensure icons align perfectly with the text baseline */
.socialButton :global(img) {
  width: 2rem;
  height: 2rem;
  object-fit: fill;
  display: inline-block;
}


/* Email link */
.email {
  margin-bottom: 0.5rem;
  color: #4A3F35;
  text-decoration: none;
  font-weight: bold;
}

/* Logo under the email */
.logoContainer {
  margin-top: 0.5rem;
}